@using BlazorTable
@inherits HAVI_app.Shared.Admin_layout.ArticleTableAdmin

<div class="modal fade" id="deleting-rows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleting rows</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected rows?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-button" data-dismiss="modal">Close</button>
                <button type="button" class="btn red-button" @onclick="DeleteArticles">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        Options:
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select class="form-control row-selection" @onchange="@((x) => SelectionChanged(x.Value.ToString()))">
            <option value="@SelectionType.None">Select no rows</option>
            <option value="@SelectionType.Multiple">Select multiple rows</option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn trash-button @hideornot" data-toggle="modal" data-target="#deleting-rows"></button>
    </div>
</div>
<div class="row">
    
    <div class="col-12">
        <Table TableItem="Article" Items="Articles" ColumnReorder="true" TableClass="table table-hover" TableHeadClass="blue-tabel-header" RowClickAction="RowClicked" ShowSearchBar="true" SelectionType="SelectionType" SelectedItems="SelectedItems">
            <Column TableItem="Article" Title="Article name " Field="@(x => x.ArticleInformation.ArticleName)" Sortable="true"/>
            <Column TableItem="Article" Title="Supplier name " Field="@(x => x.ArticleInformation.CompanyName)" Sortable="true" />
            <Column TableItem="Article" Title="Valid for customer " Field="@(x => x.VailedForCustomer)" Sortable="true" />
            <Column TableItem="Article" Title="Purchaser email " Field="@(x => x.Purchaser.Profile.Username)" Sortable="true" />
            <Column TableItem="Article" Title="State " Field="@(x => x.ArticleState)" Class="text-center" Width="100px" DefaultSortColumn="true" Sortable="true" >

                <Template>
                    <div class="@Classes.Shared.StateDictionary[context.ArticleState].ToLower()-state state">@Classes.Shared.StateDictionary[context.ArticleState]</div>
                </Template>
            </Column>
            <EmptyDataTemplate>
                <div class="text-center">
                    There are no new article informations!
                </div>
            </EmptyDataTemplate>
        </Table>
    </div>
</div>
