@using BlazorTable
@inject NavigationManager NavigationManager

<div class="modal fade" id="deleting-rows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleting rows</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected rows?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-button" data-dismiss="modal">Close</button>
                <button type="button" class="btn discard-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        Options:
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select class="form-control row-selection" @onchange="@((x) => SelectionChanged(x.Value.ToString()))">
            <option value="@SelectionType.None">Select no rows</option>
            <option value="@SelectionType.Multiple">Select multiple rows</option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn trash-button @hideornot" data-toggle="modal" data-target="#deleting-rows"></button>
    </div>
</div>
<div class="row">
    
    <div class="col-12">
        <Table TableItem="SupplierInfo" Items="supplierdata" ColumnReorder="true" TableClass="table table-hover" TableHeadClass="blue-tabel-header" TableRowClass="@(x => x.RowClass)" RowClickAction="RowClicked" ShowSearchBar="true">
            <Column TableItem="SupplierInfo" Title="Article name" Field="@(x => x.ArticleName)" Sortable="true"/>
            <Column TableItem="SupplierInfo" Title="Supplier name" Field="@(x => x.SupplierName)" Sortable="true" />
            <Column TableItem="SupplierInfo" Title="Vailed for customer" Field="@(x => x.VailedForCustomer)" Sortable="true" />
            <Column TableItem="SupplierInfo" Title="Buyer email" Field="@(x => x.BuyerEmail)" Sortable="true" />
            <Column TableItem="SupplierInfo" Title="State" Field="@(x => x.State)" Class="text-center" Width="100px" DefaultSortColumn="true" Sortable="true" >
                <Template>
                    <div class="@context.State.ToLower()-state state">@context.State</div>
                </Template>
            </Column>
            <EmptyDataTemplate>
                <div class="text-center">
                    There are no new article information!
                </div>
            </EmptyDataTemplate>
        </Table>
    </div>
</div>

@code{
    private SupplierInfo[] supplierdata;

    private SelectionType selectionType;

    private List<SupplierInfo> selectedItems = new List<SupplierInfo>();

    private SupplierInfo selected;

    private string hideornot = "hide-trash";

    protected override void OnInitialized()
    {
        supplierdata = new SupplierInfo[]{
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Completed"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Error"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Robot ready"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Created"),
            new SupplierInfo("Strawberry", "Sticks N Sushi", "anders@havi.com", "Hello and Co.", "Submitted")
            };
    }

    private void SelectionChanged(string selectvalue)
    {
        selectionType = (SelectionType)Enum.Parse(typeof(SelectionType), selectvalue);

        if (selectionType == SelectionType.Multiple)
        {
            hideornot = "show-trash";
        }
        else
        {
            hideornot = "hide-trash";
        }

    }

    private void RowClicked(SupplierInfo data)
    {
        if (selectionType == SelectionType.None)
        {
            NavigationManager.NavigateTo("show_article", true);
        }
        else
        {
            selected = data;
            StateHasChanged();
        }
    }

    public class SupplierInfo
    {
        public SupplierInfo(string articlename, string vailedforcustomer, string buyeremail, string suppliername, string state)
        {
            ArticleName = articlename;
            VailedForCustomer = vailedforcustomer;
            State = state;
            SupplierName = suppliername;
            BuyerEmail = buyeremail;
        }

        public string ArticleName { get; set; }
        public string VailedForCustomer { get; set; }
        public string SupplierName { get; set; }
        public string BuyerEmail { get; set; }
        public string State { get; set; }

        public string RowClass => "table tabel-row";
    }
}