@using BlazorTable
@inject NavigationManager NavigationManager


<div class="row">
    <div class="col-6">
        Options:
    </div>
</div>
<div class="row">
    <div class="col-2">
        <select class="form-control" @onchange="@((x) => selectionType = (SelectionType)Enum.Parse(typeof(SelectionType), x.Value.ToString()))">
            <option value="@SelectionType.None">@SelectionType.None</option>
            <option value="@SelectionType.Multiple">@SelectionType.Multiple</option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn trash-button" data-target="deleting-rows"></button>
    </div>
</div>
<div class="row">
    
    <div class="col-12">
        <Table TableItem="SupplierInfo" Items="supplierdata" ColumnReorder="true" TableHeadClass="blue-table-header" TableRowClass="@(x => x.RowClass)">
            <Column TableItem="SupplierInfo" Title="Article name" Field="@(x => x.ArticleName)" />
            <Column TableItem="SupplierInfo" Title="Supplier name" Field="@(x => x.SupplierName)" />
            <Column TableItem="SupplierInfo" Title="Vailed for customer" Field="@(x => x.VailedForCustomer)" />
            <Column TableItem="SupplierInfo" Title="Buyer email" Field="@(x => x.BuyerEmail)" />
            <Column TableItem="SupplierInfo" Title="State" Field="@(x => x.State)" Class="text-center" Width="100px">
                <Template>
                    <div class="@context.State.ToLower()-state state">@context.State</div>
                </Template>
            </Column>
            <EmptyDataTemplate>
                <div class="text-center">
                    There are no new article information!
                </div>
            </EmptyDataTemplate>
        </Table>
    </div>
</div>

@code{
    private SupplierInfo[] supplierdata;

    private SelectionType selectionType;

    private List<SupplierInfo> selectedItems = new List<SupplierInfo>();

    private SupplierInfo selected;

    protected override void OnInitialized()
    {
        supplierdata = new SupplierInfo[]{
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Completed"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Error"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Robot ready"),
            new SupplierInfo("French fries", "McDonalds", "winnie@havi.com", "Hello and Co.", "Created"),
            new SupplierInfo("Strawberry", "Sticks N Sushi", "anders@havi.com", "Hello and Co.", "Submitted")
            };
    }

    private void RowClicked(SupplierInfo data)
    {
        if (selectionType == SelectionType.None)
        {
            //Set page to go to
        }
        else
        {
            selected = data;
            StateHasChanged();
        }
    }

    public class SupplierInfo
    {
        public SupplierInfo(string articlename, string vailedforcustomer, string buyeremail, string suppliername, string state)
        {
            ArticleName = articlename;
            VailedForCustomer = vailedforcustomer;
            State = state;
            SupplierName = suppliername;
            BuyerEmail = buyeremail;
        }

        public string ArticleName { get; set; }
        public string VailedForCustomer { get; set; }
        public string SupplierName { get; set; }
        public string BuyerEmail { get; set; }
        public string State { get; set; }

        public string RowClass => "table tabel-row";
    }
}