@using BlazorTable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@inherits HAVI_app.Shared.Admin_layout.OverviewTableAdmin


<div class="row">
    <div class="col-12">
        <Table TableItem="Article" Items="Articles" ColumnReorder="true" TableHeadClass="purple-table-header">
            <Column TableItem="Article" Title="Article name " Field="@(x => x.ArticleInformation.ArticleName)"  Sortable="true"/>
            <Column TableItem="Article" Title="Supplier name " Field="@(x => x.ArticleInformation.CompanyName)"  Sortable="true" />
            <Column TableItem="Article" Title="Vailed for customer " Field="@(x => x.VailedForCustomer)"  Sortable="true" />
            <Column TableItem="Article" Title="Purchaser email " Field="@(x => x.Purchaser.Profile.Username)"  Sortable="true" />
            <Column TableItem="Article" Title="State " Field="@(x => x.ArticleState)" Class="text-center" Width="100px"  Sortable="true">
                <Template>
                    <div class="@Classes.Shared.StateDictionary[context.ArticleState].ToLower()-state state">@Classes.Shared.StateDictionary[context.ArticleState]</div>
                </Template>
            </Column>
            <EmptyDataTemplate>
                <div class="text-center">
                    There are no new article informations!
                </div>
            </EmptyDataTemplate>
        </Table>
    </div>
</div>