@using BlazorTable
@inject NavigationManager NavigationManager


<div class="row">
    <div class="col-6">
        Options:
    </div>
</div>
<div class="row">
    <div class="col-2">
        <select class="form-control" @onchange="@((x) => selectionType = (SelectionType)Enum.Parse(typeof(SelectionType), x.Value.ToString()))">
            <option value="@SelectionType.None">@SelectionType.None</option>
            <option value="@SelectionType.Multiple">@SelectionType.Multiple</option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn trash-button" data-target="deleting-rows"></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <Table TableItem="SupplierInfo" Items="supplierdata" ColumnReorder="true" TableHeadClass="blue-table-header" TableRowClass="@(x => x.RowClass)">
            <Column TableItem="SupplierInfo" Title="Article name" Field="@(x => x.BuyerEmail)" />
            <Column TableItem="SupplierInfo" Title="Supplier name" Field="@(x => x.Country)" />
            <Column TableItem="SupplierInfo" Title="State" Field="@(x => x.Type)" Class="text-center" Width="100px">
                <Template>
                    <div class="@context.Type.ToLower()-type state">@context.Type</div>
                </Template>
            </Column>
            <EmptyDataTemplate>
                <div class="text-center">
                    There are no new article information!
                </div>
            </EmptyDataTemplate>
        </Table>
    </div>
</div>

@code{
    private SupplierInfo[] supplierdata;

    private SelectionType selectionType;

    private List<SupplierInfo> selectedItems = new List<SupplierInfo>();

    private SupplierInfo selected;

    protected override void OnInitialized()
    {
        supplierdata = new SupplierInfo[]{
            new SupplierInfo("winnie@havi.com", "Country", "Buyer"),
            new SupplierInfo("winnie@havi.com", "Country", "Supplier"),
            new SupplierInfo("winnie@havi.com", "Country", "Admin")
            };
    }

    private void RowClicked(SupplierInfo data)
    {
        if (selectionType == SelectionType.None)
        {
            //Set page to go to
        }
        else
        {
            selected = data;
            StateHasChanged();
        }
    }

    public class SupplierInfo
    {
        public SupplierInfo(string buyeremail, string country, string type)
        {
            Country = country;
            Type = type;
            BuyerEmail = buyeremail;
        }

        public string BuyerEmail { get; set; }
        public string Country { get; set; }
        public string Type { get; set; }

        public string RowClass => "table tabel-row";
    }
}