@page
@model HAVI_app.Pages.TestContext.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CompanyLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CompanyLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.PalletExchange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.PalletExchange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.FreightResponsibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.FreightResponsibility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Profile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Profile.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
