@page
@model HAVI_app.Pages.TestContext.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].CompanyLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].PalletExchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].FreightResponsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier[0].Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Supplier) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalletExchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreightResponsibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Password)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
