@page "/article_view/{Id:int}"
@layout HAVI_app.Shared.Admin_layout.Overview
@inject HAVI_app.Services.Classes.PurchaserService PurchaserService 

<div class="row">
    <HAVI_app.Shared.Shared_layout.Logo_image />
    <div class="col-1"></div>
    <div class="col-8">
        <NavLink class="nav-link button-overview-logout" href="/">
            Logout
        </NavLink>
        <NavLink class="nav-link button-overview" href="@profile">
            Profile
        </NavLink>
        <NavLink class="nav-link button-overview" href="@country">
            Country
        </NavLink>
        <NavLink class="nav-link button-overview" href="@user">
            Users
        </NavLink>
        <NavLink class="nav-link button-overview" href="@article">
            Article info
        </NavLink>
        <NavLink class="nav-link button-overview" href="@overview">
            Home
        </NavLink>
    </div>
</div>
<div class="gap-overview"></div>
    <div class="row overview-admin-header">
        <div class="col-10">
            <h3>Article Info:</h3>
        </div>
        <!--<div class="col-md-2">
            <button class="btn button-options-overview" data-toggle="modal" data-target="#myModal">Transfer order</button>
        </div>-->
    </div>
    <div class="row">
        <div class="col-12">
            <HAVI_app.Shared.Admin_layout.Article_table_admin />
        </div>
    </div>
    <div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Transfer order</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">
                        <form>
                            <label for="purchaser">Select purchaser:</label>
                            <select class="form-control" name="purchaser" id="purchaser">
                            </select>
                        </form>
                    </div>


                    <div class="modal-footer">
                        <button class="btn cancel-button" data-dismiss="modal">Cancel</button>
                        <button class="btn green-button" data-dismiss="modal">Transfer order</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @code {
        [Parameter]
        public int Id { get; set; }

        public List<Purchaser> Purchasers { get; set; }

        public string profile;
        public string country;
        public string user;
        public string article;
        public string overview;

        protected async override Task OnInitializedAsync()
        {
            profile = $"/profile_admin/" + Id;
            country = $"/country_view/{Id}";
            user = $"/user_view/{Id}";
            article = $"/article_view/{Id}";
            overview = $"/overview_admin/{Id}";

            Purchasers = await PurchaserService.GetPurchasers();
        }
    }
