@layout HAVI_app.Shared.Supplier_layout.Form_layout
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@page "/article_info_form"
@inherits HAVI_app.Classes.Validation
@inject Models.ArticleInformation Article
@inject HAVI_app.Services.Classes.SalesUnitService SalesUnitService 


<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="active" Id="Article.Id" />


<div class="row justify-content-center">
    <div class="col-10">
        <h3>Article information:</h3>
        <p class="form-header-supplier">Fill out information regarding the article:</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-center">
        <EditForm Model="Article" OnSubmit="@ValidationArticleInfoForm">
            <table class="table">

                <tr>
                    <td>
                        <label for="article_name" class="required">Article name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control @ArticleNameValidated" name="article_name" @bind="Article.ArticleName" required maxlength="31"> 
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the name of the article
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="salesunit" class="required">Salesunit:</label>
                    </td>
                    <td>
                        <select class="form-control" name="salesunit" @bind="Article.Salesunit" required>
                            <option disabled selected>-- select an option --</option>
                                @foreach (var item in sales)
                                {
                                    <option>@item.Unit</option>
                                }
                        </select>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the unit in which the article is delivered. This cannot be zero
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="article_pr_salesunit" class="required">Articles per salesunit:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control @ArticlePerSalesunitValidated" name="article_pr_salesunit" @bind="Article.ArticlesPerSalesunit" required maxlength="5">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter how many articles are delivered per salesunit. This cannot be zero
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="supplier_article_nn" class="required">Supplier article number/name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control @SupplierArticleNumberValidated" name="supplier_article_nn" @bind="Article.SupplierArticleName" required maxlength="16">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter your own reference number or name for the article
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="GTIN" class="required">GTIN number:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="GTIN" @bind="Article.Gtinnumber" required minlength="14" maxlength="14">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter 14 digits, if you have less than 14 digits then place 0's infront
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Shelflife" class="required">Shelflife:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control @ShelflifeValidated" name="Shelflife" @bind="Article.Shelflife" required maxlength="3">
                    </td>
                    <td>
                        <label class="center-for-units" for="Shelflife">days</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter expiration time for the article in days. This cannot be zero
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Min_shelflife" class="required">Min. shelflife at HAVI:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control @ShelflifeAtHaviValidated" name="Min_shelflife" @bind="Article.ShelflifeAtHavi" required maxlength="4">
                    </td>
                    <td>
                        <label class="center-for-units" for="Min_shelflife">days</label>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the least amount of days that HAVI should have the article. This cannot be zero
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Organic_article" class="required">Organic article?</label>
                    </td>

                    <td>
                        <div class="text-center">
                            <input type="radio" name="Organic_article" value="yes" checked="@(Article.OrganicArticle == 1)" @onchange="@(() => Article.OrganicArticle = 1)" required>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" value="no" name="Organic_article" checked="@(Article.OrganicArticle == 2)" @onchange="@(() => Article.OrganicArticle = 2)">
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter whether the article is organic or not
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>


            </table>
            <div class="row justify-content-center">
                <div class="text-right col-6">
                    <input type="button" class="btn cancel-button button-size" value="Back" @onclick="OnPostBack" />
                </div>
                <div class="text-left col-6">
                    <input type="submit" class="btn green-button button-size" value="Next" />
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code{
        [Parameter]
        public int Id { get; set; }

        List<SalesUnit> sales = new List<SalesUnit>();

    public string ArticleNameValidated;

    public string ArticlePerSalesunitValidated;

    public string SupplierArticleNumberValidated;

    public string ShelflifeValidated;

    public string ShelflifeAtHaviValidated;

    private void GTINfiller()
    {
        Article.Gtinnumber = GTINValidation(Article.Gtinnumber);
    }

    public void ValidationArticleInfoForm()
    {

        if (LettersOnly(Article.ArticleName) && MustNotBeZeroOrNegativeNumbere(Article.ArticlesPerSalesunit) &&
            MustNotBeZeroOrNegativeNumbere(Article.Shelflife) && MustNotBeZeroOrNegativeNumbere(Article.ShelflifeAtHavi))
        {
            Article.Gtinnumber = GTINValidation(Article.Gtinnumber);

            NavigationManager.NavigateTo($"/measurement_info_form", true);
        }

        if (!LettersOnly(Article.ArticleName))
        {
            ArticleNameValidated = "btn-danger";
        }

        if (!MustNotBeZeroOrNegativeNumbere(Article.ArticlesPerSalesunit))
        {
            ArticlePerSalesunitValidated = "btn-danger";
        }

        if (!MustNotBeZeroOrNegativeNumbere(Article.Shelflife))
        {
            ShelflifeValidated = "btn-danger";
        }

        if (!MustNotBeZeroOrNegativeNumbere(Article.ShelflifeAtHavi))
        {
            ShelflifeAtHaviValidated = "btn-danger";
        }
    }

    public void OnPostBack()
    {
        NavigationManager.NavigateTo($"/supplier_info_form/{Article.Id}", true);
    }

    protected override async Task OnInitializedAsync()
    {
        sales = await SalesUnitService.GetSalesUnits();

    }
}

