@layout HAVI_app.Shared.Supplier_layout.Form_layout
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@page "/confirm_details"
@inject HAVI_app.Models.ArticleInformation ArticleInformation
@inject Models.ArticleInformation Article
@inject HAVI_app.Services.Classes.ArticleInformationService ArticleInformationService 
@inject HAVI_app.Services.Classes.ArticleService ArticleService
@inject HAVI_app.Services.Classes.SupplierService SupplierService 
@inject HAVI_app.Services.Classes.InternalArticleInformationService InternalArticleInformationService
@using HAVI_app.Classes

<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="filled" ArticleState="filled" MeasurementState="filled" ShipmentState="filled" PriceState="filled" ConfirmState="active" Id="Article.Id" />

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Confirm information:</h3>
        <p class="form-header-supplier">Please confirm your details regarding the article</p>
    </div>
</div>

<div class="row justify-content-center ">
    <div class="col-10 d-flex justify-content-center">
        <EditForm Model="Article" OnSubmit="Submit">
            <table class="table">

                <!-- ############## Supplier Information ############## -->
                <tr>
                    <td colspan="7">
                        <div class="row justify-content-right">
                            <div class="col-9">
                                <h4 class="information-headings"> Supplier Information:</h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="company_name">Company name:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" class="form-control" name="company_name" value="@Article.CompanyName" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <label for="company_location">Company location:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" class="form-control" name="company_location" value="@Article.CompanyLocation." disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="email">Email:</label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="email" value="@Article.Email" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="pallet_exchange" value="">Pallet exchange</label>
                    </td>
                    <td colspan="5">
                        <div class="text-center">
                            <input type="radio" name="pallet_exchange" checked="@(Article.PalletExchange == 1)" @onchange="@(() => Article.PalletExchange = 1)" disabled>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="pallet_exchange" checked="@(Article.PalletExchange == 0)" @onchange="@(() => Article.PalletExchange = 0)" disabled>
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="freight_responsibility" value="">Freight responsibility</label>
                    </td>
                    <td colspan="5">
                        <input type="text" class="form-control" name="freight_responsibility" value="@Article.FreightResponsibility" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <label for="special_info">Special information regarding the article or cooperation?</label>
                        <textarea class="form-control" name="special_info" value="@Article.SpecialInformation" disabled></textarea>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="transport" value="">Are you in charge of booking transport?</label>
                    </td>

                    <td colspan="5">
                        <div class="text-center">
                            <input type="radio" name="transport" data-toggle="collapse" data-target="#hideTransit:not(.show)" aria-expanded="false" aria-controls="hideTransit" checked="@(Article.TransportBooking == 1)" @onchange="@(() => Article.TransportBooking = 1)" disabled>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="transport" data-toggle="collapse" data-target="#hideTransit.show" aria-expanded="false" aria-controls="hideTransit" checked="@(Article.TransportBooking == 0)" @onchange="@(() => Article.TransportBooking = 2)" disabled>
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                @if (Article.TransportBooking == 1)
                {
                    <tr>
                        <td>
                            <label for="class">Transit time:</label>
                        </td>
                        <td colspan="5">
                            <input type="number" class="form-control moveStuffToTheRight" id="class" value="@Article.TransitTime" disabled>
                        </td>
                        <td>
                            <label for="class" class="labels">days</label>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <label for="dangerous" value="">Is the article classified as dangerous goods (ADR)?</label>
                    </td>
                    <td colspan="5">
                        <div class="text-center">
                            <input type="radio" name="dangerous" data-toggle="collapse" data-target="#hideDanger:not(.show)" aria-expanded="false" aria-controls="hideDanger" checked="@(Article.DangerousGoods == 1)" @onchange="@(() => Article.DangerousGoods = 1)" disabled>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="dangerous" data-toggle="collapse" data-target="#hideDanger.show" aria-expanded="false" aria-controls="hideDanger" checked="@(Article.DangerousGoods == 0)" @onchange="@(() => Article.DangerousGoods = 2)" disabled />
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                @if (Article.DangerousGoods == 1)
                {
                    <tr>
                        <td>
                            <label for="class">Class:</label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control" id="class" value="@Article.Class" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="classificationCode">Classification code:</label>
                        </td>
                        <td colspan="5">
                            <input type="text" class="form-control moveStuffToTheRight" id="classificationCode" value="@Article.ClassificationCode" disabled>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                }


                <!-- ############## Article Information ############## -->

                <tr>
                    <td colspan="7">
                        <div class="row justify-content-right">
                            <div class="col-9">
                                <h4 class="information-headings"> Article information:</h4>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="article_name">Article name:</label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" id="a_name" value="@Article.ArticleName" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="sales_unit">Salesunit:</label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" id="sales_unit" value="@Article.Salesunit" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="article_pr_salesunit">Article per salesunit:</label>
                    </td>
                    <td colspan="4">
                        <input type="number" class="form-control moveStuffToTheRight" id="salesunit_quantity" value="@Article.ArticlesPerSalesunit" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="supplier_article_nn">Supplier article number/name:</label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" id="article_number_name" value="@Article.SupplierArticleName" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="GTIN">GTIN number:</label>
                    </td>
                    <td colspan="4">
                        <input type="number" class="form-control moveStuffToTheRight" id="GTIN" value="@Article.Gtinnumber" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <label for="Shelflife">Shelflife:</label>
                    </td>
                    <td colspan="2">
                        <input type="number" class="form-control moveStuffToTheRight" id="Shelflife" value="@Article.Shelflife" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="Shelflife">days</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <label for="Min_shelflife">Min. shelflife at HAVI:</label>
                    </td>
                    <td colspan="2">
                        <input type="number" class="form-control moveStuffToTheRight" id="Min_shelflife" value="@Article.MinimumShelflife" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="Min_shelflife">days</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Organic_article" value="">Organic article?</label>
                    </td>

                    <td colspan="5">
                        <div class="text-center">
                            <input type="radio" name="Organic_article" checked="@(Article.OrganicArticle == 1)" disabled>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="Organic_article" checked="@(Article.OrganicArticle == 0)" disabled>
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- ############## Measurement Information ############## -->
                <tr>
                    <td colspan="7">
                        <div class="row justify-content-right">
                            <div class="col-9">
                                <h4 class="information-headings"> Measurement information:</h4>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="length">Length per salesunit:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" step="any" class="form-control" id="Length" value="@Article.LengthPrSalesunit" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="length">cm</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <label for="width">Width per salesunit:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" step="any" class="form-control" id="width" value="@Article.WidthPrSalesunit" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="width">cm</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <label for="height">Height per salesunit:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" step="any" class="form-control" id="height" value="@Article.HeightPrSalesunit" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="height">cm</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <label for="net_weight">Net weight per salesunit:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" step="any" class="form-control" id="net_weight" value="@Article.NetWeightPrSalesunit" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="net_weight">kg</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <label for="gross_weight">Gross weight per salesunit:</label>
                    </td>
                    <td colspan="3">
                        <input type="text" step="any" class="form-control" id="gross_weight" value="@Article.GrossWeightPrSalesunit" disabled>
                    </td>
                    <td>
                        <label class="center-for-units" for="gross_weight">kg</label>
                    </td>
                </tr>


                <!-- ############## Shipment Information: ############## -->


                <tr>
                    <td colspan="7">
                        <div class="row justify-content-right">
                            <div class="col-9">
                                <h4 class="information-headings"> Shipment information:</h4>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="carton_pr_pallet">Cartons per pallet:</label>
                    </td>
                    <td colspan="5">
                        <input type="number" class="form-control moveStuffToTheRight" id="@Article.CartonsPerPallet" value="1" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="carton_pr_layer">Cartons per layer:</label>
                    </td>
                    <td colspan="5">
                        <input type="number" class="form-control moveStuffToTheRight" value="@Article.CartonsPerLayer" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <label for="country_origin">Country of origin:</label>
                    </td>
                    <td colspan="5">
                        <input type="text" class="form-control" value="@Article.CountryOfOrigin" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="imported_from">Imported from:</label>
                    </td>
                    <td colspan="5">
                        <input type="text" class="form-control" value="@Article.ImportedFrom" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="toll_tarrif_no">Toll-tarrif no:</label>
                    </td>
                    <td colspan="5">
                        <input type="text" class="form-control moveStuffToTheRight" value="@Article.TollTarifNumber" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="minimum_order_quantity">Minimum order quantity:</label>
                    </td>
                    <td colspan="5">
                        <input type="number" class="form-control moveStuffToTheRight" id="minimum_order_quantity" value="@Article.MinimumOrderQuantity" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="text-left">
                            <label for="temprature_during_transportation">Temperature during transportation:</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="min">Min:</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <input type="number" step="any"  class="form-control moveStuffToTheRight" id="min" value="@Article.TemperatureTransportationMin" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="max">Max:</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <input type="number" step="any"  class="form-control moveStuffToTheRight" id="max" value="@Article.TemperatureTransportationMax" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="temprature_storage">Storage temperature requirements:</label>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="min">Min:</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <input type="number" step="any"  class="form-control moveStuffToTheRight" id="min" value="@Article.TemperatureStorageMin" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="max">Max:</label>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <input type="number" step="any"  class="form-control moveStuffToTheRight" id="max" value="@Article.TemperatureStorageMax" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="text-left">
                            <label class="center-for-units" for="degrees">&#8451;</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="lead_time">Lead time:</label>
                    </td>
                    <td colspan="5">
                        <input type="number" class="form-control moveStuffToTheRight" id="lead_time" value="@Article.LeadTime" disabled>
                    </td>
                    <td>
                        <div class="text-right">
                            <label class="center-for-units" for="lead_time">days</label>
                        </div>
                    </td>
                </tr>


                <!-- ############## Price Information: ############## -->

                <tr>
                    <td colspan="7">
                        <div class="row justify-content-right">
                            <div class="col-9">
                                <h4 class="information-headings"> Price information:</h4>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="set_currency">Set currency:</label>
                    </td>
                    <td colspan="5">
                        <input type="text" class="form-control" id="purchase_price" value="@Article.SetCurrency" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="purchase_price">Purchase price:</label>
                    </td>
                    <td colspan="5">
                        <input type="number" class="form-control moveStuffToTheRight" id="purchase_price" value="@Article.PurchasePrice" disabled>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="other_cost" value="">Other cost regarding the article?</label>
                    </td>
                    <td colspan="5">
                        <div class="text-center">
                            <input type="radio" name="organic" id="yes" value="yes" checked="@(Article.OtherCosts == 1)" disabled>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="organic" id="no" value="no" checked="@(Article.OtherCosts == 0)" disabled>
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                @if (Article.OtherCosts == 1)
                {
                    @for (int i = 0; i < Article.OtherCostsForArticles.Count; i++)
                    {
                        @if (Article.OtherCostsForArticles[i].InformCostType != "" || Article.OtherCostsForArticles[i].Amount != 0)
                        {
                            <tr>
                                <td>
                                    <label for="afgift-@i">Inform cost type:</label>
                                </td>

                                <td colspan="2">
                                    <input type="text" class="form-control" id="purchase_price" value="@Article.OtherCostsForArticles[i].InformCostType" disabled>
                                </td>
                                <td colspan="1">
                                    <label for="amount-@i">Amount in @Article.SetCurrency:</label>
                                </td>
                                <td colspan="2">
                                    <input type="number" class="form-control" name="amount-@i" value="@Article.OtherCostsForArticles[i].Amount" disabled>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>


            <div class="row justify-content-center">
                <div class="text-right col-6">
                    <input type="button" class="btn cancel-button button-size" value="Back" @onclick="GoBack" />
                </div>
                <div class="text-left col-6">
                    <input type="submit" class="btn green-button button-size" value="Submit"/>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code
{
    public async void Submit()
    {
        await ArticleInformationService.UpdateArticleInformation(Article.Id, Article);

        Article thisArticle = await ArticleService.GetArticleWithInformation(Article.Id);
        thisArticle.ArticleState = (int)ArticleState.Submitted;
        thisArticle.ArticleInformationCompleted = 1;
        thisArticle.InternalArticleInformation.AmountInForeignCurrency = Article.PurchasePrice;
        await ArticleService.UpdateArticle(thisArticle.Id, thisArticle);
        await InternalArticleInformationService.UpdateInternalArticleInformation(thisArticle.InternalArticleInformationId, thisArticle.InternalArticleInformation);

        Supplier supplier = await SupplierService.GetSupplier(thisArticle.SupplierId);

        NavigationManager.NavigateTo($"/submission_accepted/{supplier.Id}", true);
    }

    public void GoBack()
    {
        NavigationManager.NavigateTo($"/price_info_form", true);
    }

    private string BookingTransport = "yes";

    private string DangerousGoods = "yes";

    private string OtherCost = "yes";

    private string Currency = "DKK";

    private int NumberOfOtherCosts = 1;
}