@layout HAVI_app.Shared.Supplier_layout.Form_layout
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@page "/supplier_info_form/{Id:int}"
@inherits HAVI_app.Classes.Validation
@inject Models.ArticleInformation Article
@inject HAVI_app.Services.Classes.LocationService LocationService
@inject HAVI_app.Services.Classes.ArticleInformationService ArticleInformationService
@inject HAVI_app.Services.Classes.FreightResponsibilityService FreightResponsibilityService



<HAVI_app.Shared.Supplier_layout.Form_header SupplierState="active" />
<div class="row justify-content-center">
    <div class="col-10">
        <h3>Supplier information:</h3>
        <p class="form-header-supplier">Fill out information about your own company.</p>
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col-10 d-flex justify-content-center">
        <EditForm Model="Article" OnSubmit="@ValidationSupplierForm">
            <table class="table">
                <tr>
                    <td>
                        <label for="company_name" class="required">Company name:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="company_name" @bind="Article.CompanyName" required maxlength="31">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the name of your company
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="company_location" class="required">Company location:</label>
                    </td>
                    <td>
                        <select class="form-control" name="company_location" @onchange="@((ChangeEventArgs __e) => Article.CompanyLocation = __e.Value.ToString())" required>
                            <option disabled selected>-- select or search for an option --</option>
                            @foreach (var item in contries)
                            {
                                <option>@item.Country</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the country of where your company resides
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email" class="required">Email:</label>
                    </td>
                    <td>

                        <input type="text" class="form-control @EmailValidated" name="email" @bind="Article.Email" @onfocus="RemoveEmailDanger" required maxlength="50">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter the email of the person in the company that HAVI may contact.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="pallet_exchange" class="required">Pallet exchange</label>
                    </td>
                    <td>
                        <div class="text-center">
                            <input type="radio" name="pallet_exchange" checked="@(Article.PalletExchange == 1)" @onchange="@(() => Article.PalletExchange = 1)" required>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="pallet_exchange" checked="@(Article.PalletExchange == 2)" @onchange="@(() => Article.PalletExchange = 2)">
                            <label for="no">No</label>
                        </div>

                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Whether you would like to exchange pallets with HAVI upon delivering the article
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="freight_responsibility">Freight Responsibility</label>
                    </td>
                    <td>
                        <select class="form-control" name="freight_responsibility" @onchange="@((ChangeEventArgs __e) => Article.FreightResponsibility = __e.Value.ToString())" required>
                            <option disabled selected>-- select or search for an option --</option>
                            @foreach (FreightResponsibility item in Freights)
                            {
                                <option>@item.Responsibility</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_right>
                            With CIP you pay for the freight and insurance during transit.
                            With EXW you are only required to ready the article for pick up.
                        </HAVI_app.Shared.Shared_layout.Questionmark_right>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label for="special_info">Special information regarding the article or cooperation?</label>
                        <textarea class="form-control" name="special_info" @bind="Article.SpecialInformation" maxlength="500"></textarea>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            If the article needs to be treated with special care or is delivered under special circumstances please note these.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="transport" class="required">Are you in charge of booking transport?</label>
                    </td>

                    <td>
                        <div class="text-center">
                            <input type="radio" name="transport" data-toggle="collapse" data-target="#hideTransit:not(.show)" aria-expanded="false" aria-controls="hideTransit" checked="@(Article.TransportBooking == 1)" @onchange="@(() => Article.TransportBooking = 1)" required>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" name="transport" data-toggle="collapse" data-target="#hideTransit.show" aria-expanded="false" aria-controls="hideTransit" checked="@(Article.TransportBooking == 2)" @onchange="@(() => Article.TransportBooking = 2)">
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            If your company is the one in charge of transport, pick yes.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr class="collapse" id="hideTransit">
                    <td>
                        <label for="transittime" class="required">Transit time:</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="transittime" @bind="Article.TransitTime" maxlength="4">
                    </td>
                    <td>days</td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The amount of days from the article is ordered till the order is ready to be shipped to HAVI.
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="dangerous" class="required">Is the article classified as dangerous goods (ADR)?</label>
                    </td>
                    <td>
                        <div class="text-center">
                            <input type="radio" name="dangerous" value="0" data-toggle="collapse" data-target="#hideDanger:not(.show)" aria-expanded="false" aria-controls="hideDanger" checked="@(Article.DangerousGoods == 1)" @onchange="@(() => Article.DangerousGoods = 1)" required>
                            <label for="yes">Yes</label>
                            &nbsp;
                            <input type="radio" value="1" name="dangerous" data-toggle="collapse" data-target="#hideDanger.show" aria-expanded="false" aria-controls="hideDanger" checked="@(Article.DangerousGoods == 2)" @onchange="@(() => Article.DangerousGoods = 2)" />
                            <label for="no">No</label>
                        </div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            You can check whether the article is classified as dangerous goods on the following link:
                            <a href="https://www.tnt.com/express/en_dk/site/how-to/find-dangerous-goods.html" target="_blank">Click here</a>
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr class="collapse" id="hideDanger">
                    <td>
                        <label for="class" class="required">Class:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="class" @bind="Article.Class" maxlength="31">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            The class must be written in numbers
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>

                <tr class="collapse" id="hideDanger">
                    <td>
                        <label for="classificationCode" class="required">Classification code:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control @ClassificationCodeValidated" name="classificationcode" @bind="Article.ClassificationCode" @onfocus="RemoveClassDanger" maxlength="15">
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <HAVI_app.Shared.Shared_layout.Questionmark_top>
                            Enter a whole number
                        </HAVI_app.Shared.Shared_layout.Questionmark_top>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>

            </table>
            <div class="row justify-content-center">
                <div class="text-right col-6">
                </div>
                <div class="text-left col-6">
                    <input type="submit" class="btn green-button button-size" value="Next" />
                </div>
            </div>

        </EditForm>

    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    List<Location> contries = new List<Location>();
    public List<FreightResponsibility> Freights = new List<FreightResponsibility>();

    public string EmailValidated;

    public string ClassificationCodeValidated;

    public void ValidationSupplierForm()
    {
        if (IsEmailValid(Article.Email) && ((Article.DangerousGoods == 1) ? NumbersLettersDashOnly(Article.ClassificationCode) : true))
        {
            Article.Id = Id;

            NavigationManager.NavigateTo($"/article_info_form", true);
        }

        if (!IsEmailValid(Article.Email))
        {
            EmailValidated = "btn-danger";
        }

        if (!NumbersLettersDashOnly(Article.ClassificationCode))
        {
            ClassificationCodeValidated = "btn-danger";
        }
    }

    void RemoveEmailDanger()
    {
        EmailValidated = "";
    }

    void RemoveClassDanger()
    {
        ClassificationCodeValidated = "";
    }

    protected override async Task OnInitializedAsync()
    {
        contries = await LocationService.GetLocations();
        Freights = await FreightResponsibilityService.GetFreightResponsibilities();
    }
}