@page "/country_view/{Id:int}"
@layout HAVI_app.Shared.Admin_layout.Overview
@inherits HAVI_app.Pages.Admin_pages.Country_pages.CountryView

<div class="row">
    <HAVI_app.Shared.Shared_layout.Logo_image />
    <div class="col-1"></div>
    <div class="col-8">
        <NavLink class="nav-link button-overview-logout" href="/">
            Logout
        </NavLink>
        <NavLink class="nav-link button-overview" href="@profile">
            Profile
        </NavLink>
        <NavLink class="nav-link button-overview" href="@country">
            Country
        </NavLink>
        <NavLink class="nav-link button-overview" href="@user">
            Users
        </NavLink>
        <NavLink class="nav-link button-overview" href="@article">
            Article info
        </NavLink>
        <NavLink class="nav-link button-overview" href="@overview">
            Home
        </NavLink>
    </div>
</div>
<div class="gap-overview"></div>
<div class="row overview-admin-header">
    <div class="col-8">
        <h3>Editing @CurrentCountry.CountryName:</h3>
    </div>
    <div class="col-4">
        <NavLink class="nav-link" href="/create_country">
            <button class="btn button-options-overview">Create new country</button>
        </NavLink>
    </div>
</div>
@if (Customers == null || CurrentCountry == null || TaxCodes == null || Units == null || CompanyCodes == null || OrderPickGroups == null || ILOSCategories == null || ILOSCodes == null)
{
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 form-layout">
            <div class="row">
                <div class="col-9"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 d-flex align-content-center">
                    <form>
                        <table class="table">
                            <tr>
                                <td colspan="4"><h5>Country information: </h5></td>
                            </tr>
                            <tr>
                                <td><label for="country">Country:</label></td>
                                <td> <input type="text" name="country" @bind="CurrentCountry.CountryName" /> </td>
                            </tr>
                            <tr>
                                <td><label for="country-code">Country code:</label> </td>
                                <td> <input type="text" name="country-code" @bind="CurrentCountry.CountryCode" /></td>
                            </tr>
                            <tr>
                                <td colspan="4"><h5>Customers: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfCustomers; i++)
                            {
                                <tr>
                                    <td>
                                        <label for="customer-@i">Customer name:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="customer-@i" @bind="Customers[i].Customer" />
                                    </td>
                                    @if (i == NumberOfCustomers)
                                    {
                                        <td @onclick="AddCustomer"> &#10133; </td>

                                    }
                                    <td @onclick="@(x => RemoveCustomer(i))"> &#10134;</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4"><h5>Company codes: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfCodes; i++)
                            {
                                <tr>
                                    <td>
                                        <label for="code-@i">Company code:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="code-@i" @bind="CompanyCodes[i].Code" />
                                    </td>
                                    @if (i == NumberOfCodes)
                                    {
                                        <td @onclick="AddCode"> &#10133; </td>
                                    }
                                    <td @onclick="@(x => RemoveCode(i))"> &#10134;</td>

                                </tr>
                            }

                            <tr>
                                <td colspan="4"><h5>Supplier delivery units: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfUnits; i++)
                            {

                                <tr>
                                    <td>
                                        <label for="unit-@i">Supplier delivery unit:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="unit-@i" @bind="Units[i].Unit" />
                                    </td>
                                    @if (i == NumberOfUnits)
                                    {
                                        <td @onclick="AddUnit"> &#10133; </td>
                                    }
                                    <td @onclick="@(x => RemoveUnit(i))"> &#10134;</td>

                                </tr>
                            }
                            <tr>
                                <td colspan="4"><h5>ILOS orderpickgroups: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfOrders; i++)
                            {

                                <tr>
                                    <td>
                                        <label for="order-@i">Orderpickgroup:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="order-@i" @bind="OrderPickGroups[i].Orderpickgroup" />
                                    </td>
                                    @if (i == NumberOfOrders)
                                    {
                                        <td @onclick="AddOrder"> &#10133; </td>
                                    }
                                    <td @onclick="@(x => RemoveOrder(i))"> &#10134;</td>

                                </tr>
                            }
                            <tr>
                                <td colspan="4"><h5>ILOS categories/accounts: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfCat; i++)
                            {

                                <tr>
                                    <td>
                                        <label for="cat-@i">Input category or account:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="cat-@i" @bind="ILOSCategories[i].Category" />
                                    </td>
                                    @if (i == NumberOfCat)
                                    {
                                        <td @onclick="AddCat"> &#10133; </td>

                                    }
                                    <td @onclick="@(x => RemoveCat(i))"> &#10134;</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4"><h5>VAT/TAX codes: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfTAX; i++)
                            {

                                <tr class="border-bottom">
                                    <td>
                                        <label for="tax-@i">Input VAT or TAX code:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="tax-@i" @bind="TaxCodes[i].Code" />
                                    </td>
                                    @if (i == NumberOfTAX)
                                    {
                                        <td @onclick="AddTAX"> &#10133; </td>
                                    }
                                    <td @onclick="@(x => RemoveTAX(i))"> &#10134;</td>

                                </tr>
                            }
                        </table>
                        <table>
                            <tr>
                                <td colspan="4"><h5>Primary DC ILOS codes: </h5></td>
                            </tr>
                            @for (int i = 0; i <= NumberOfPrim; i++)
                            {
                                <tr>
                                    <td>
                                        <label for="prim-dc-@i">Input ILOS code:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="prim-dc-@i" @bind="ILOSCodes[i].PrimaryCode" />
                                    </td>
                                    <td>
                                        <label for="prim-sap-@i">SAP Plant for code:</label>
                                    </td>

                                    <td>
                                        <input type="text" name="prim-sap-@i" @bind="ILOSCodes[i].Sapplant" />
                                    </td>
                                    @if (i == NumberOfPrim)
                                    {
                                        <td @onclick="AddPrim"> &#10133; </td>
                                    }
                                    <td @onclick="@(x => RemovePrim(i))"> &#10134;</td>
                                </tr>
                            }
                        </table>
                    </form>

                </div>
            </div>
            <div class="row country-buttons">
                <div class="col-12 text-center"><button @onclick="SaveChangesForCountry" class="btn green-button">Save changes</button></div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="country-created" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Saved changes!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn cancel-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    

    public string profile = $"/profile_admin/{Id}";
    public string country = $"/country_view/{Id}";
    public string user = $"/user_view/{Id}";
    public string article = $"/article_view/{Id}";
    public string overview = $"/overview_admin/{Id}";
}