@page "/user_view/{id:int}"
@layout HAVI_app.Shared.Admin_layout.Overview
@inherits UserView


<div class="row">
    <HAVI_app.Shared.Shared_layout.Logo_image />
    <div class="col-1"></div>
    <div class="col-8">
        <NavLink class="nav-link button-overview-logout" href="/">
            Logout
        </NavLink>
        <NavLink class="nav-link button-overview" href="@profile">
            Profile
        </NavLink>
        <NavLink class="nav-link button-overview" href="@country">
            Country
        </NavLink>
        <NavLink class="nav-link button-overview" href="@user">
            Users
        </NavLink>
        <NavLink class="nav-link button-overview" href="@article">
            Article info
        </NavLink>
        <NavLink class="nav-link button-overview" href="@overview">
            Home
        </NavLink>
    </div>
</div>
<div class="gap-overview"></div>
<div class="row overview-admin-header">
    <div class="col-9">
        <h3>Users:</h3>
    </div>
    <div class="col-3">
        <button class="btn button-options-overview" data-toggle="modal" data-target="#create-purchaser">Create purchaser</button>
    </div>
</div>
    <div class="row">
        <div class="col-12">
            <HAVI_app.Shared.Admin_layout.User_table_admin />
        </div>
    </div>

    <div>
        <div class="modal" id="create-purchaser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create new purchaser</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">
                        <form>
                            <label for="purchaser">Email:</label>
                            <input class="form-control" type="email" name="purchaser" @bind="@Email" />
                        </form>
                        <p class="text-center">Password for new purchaser is "1234"</p>

                    </div>

                    <div class="text-center">
                        <p>@_userAlreadyExists</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn cancel-button" data-dismiss="modal">Cancel</button>
                        <button class="btn green-button" @onclick="CreatePurchaser">Create</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
