@inherits ArticleInformation

<div class="col-12 havi-info-box">
<div class="row justify-content-right">
    <div class="col-11">
        <h4> Article Information:</h4>
    </div>
    <div class="col-1">
        @if (EditingFields)
        {
            <div class="save-button" @onclick="Saving"></div>
        }
        else
        {
            <div class="edit-button" @onclick="Editing"></div>
        }

    </div>
</div>
    @if (Article != null)
    {
    <table class="table table-borderless">
        <tr class="@ArticleName">
            <td>
                <label for="article_name">Article name:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="a_name" @bind="Article.ArticleInformation.ArticleName" disabled>
            </td>
        </tr>

        <tr class="@Salesunit">
            <td>
                <label for="sales_unit">Salesunit:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" id="sales_unit" @bind="Article.ArticleInformation.Salesunit" disabled>
            </td>
        </tr>

        <tr class="@ArticlePerSalesunit">
            <td>
                <label for="salesunit_quantity">Article per salesunit:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="salesunit_quantity" @bind="Article.ArticleInformation.ArticlesPerSalesunit" disabled>
            </td>
        </tr>

        <tr class="@SupplierNameNumber">
            <td>
                <label for="supplier_article_nn">Supplier article number/name:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="article_number_name" @bind="Article.ArticleInformation.SupplierArticleName" disabled>
            </td>
        </tr>

        <tr class="@GTINNumber">
            <td>
                <label for="GTIN">GTIN number:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="GTIN" @bind="Article.ArticleInformation.Gtinnumber" disabled>
            </td>
        </tr>

        <tr class="@Shelflife">
            <td>
                <label for="Shelflife">Shelflife:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="Shelflife" @bind="Article.ArticleInformation.Shelflife" disabled>
            </td>
            <td>
                <label class="center-for-units" for="Shelflife">days</label>
            </td>
        </tr>

        <tr class="@MinShelflife">
            <td>
                <label for="Min_shelflife">Min. shelflife at HAVI:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control" id="Min_shelflife" @bind="Article.ArticleInformation.MinimumShelflife" disabled>
            </td>
            <td>
                <label class="center-for-units" for="Min_shelflife">days</label>
            </td>
        </tr>

        <tr class="@OrganicArticles">
            <td>
                <label for="organic_article" value="">Organic article?</label>
            </td>

            <td colspan="2">
                <div class="text-center">
                    @if (Article.ArticleInformation.OrganicArticle == 1)
                    {
                        <input type="radio" name="organic" id="yes" checked value="yes" disabled @onclick="x => OrganicArticle(1)">
                        <label for="yes">Yes</label>
                        
                        <input type="radio" id="no" name="organic" disabled @onclick="x => OrganicArticle(0)">
                        <label for="no">No</label>
                    }
                    else
                    {
                        <input type="radio" name="organic" id="yes" value="yes" disabled @onclick="x => OrganicArticle(1)">
                        <label for="yes">Yes</label>
                        
                        <input type="radio" id="no" name="organic" checked disabled @onclick="x => OrganicArticle(0)">
                        <label for="no">No</label>
                    }

                </div>
            </td>
        </tr>
    </table>}
</div>

@code {

}