@inherits ArticleInformationInfo
<div class="col-12 havi-info-box">
<div class="row justify-content-right">
    <div class="col-11">
        <h4> Article Information:</h4>
    </div>
    <div class="col-1 @EditFields">
        @if (EditingFields)
        {
            <div class="save-button" @onclick="Saving"></div>
        }
        else
        {
            <div class="edit-button" @onclick="Editing"></div>
        }

    </div>
</div>
<form>
    <table class="table table-borderless" width="100%">
        <colgroup>
            <col span="2" style="width: 45%" />
            <col span="2" style="width: 55%" />
            <col span="2" style="width: 5%" />
        </colgroup>
        <tr class="@ArticleName">
            <td colspan="2">
                <label for="article_name">Article name:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" name="article_name" @bind="@Article.ArticleInformation.ArticleName" disabled="@IsDisabled">
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@Salesunit">
            <td colspan="2">
                <label for="sales_unit">Salesunit:</label>
            </td>
            <td colspan="2">
                <input type="text" class="form-control" name="sales_unit" @bind="Article.ArticleInformation.Salesunit" disabled>
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@ArticlePerSalesunit">
            <td colspan="2">
                <label for="salesunit_quantity">Articles per salesunit:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control moveStuffToTheRight" name="salesunit_quantity" @bind="Article.ArticleInformation.ArticlesPerSalesunit" disabled="@IsDisabled">
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@SupplierNameNumber">
            <td colspan="2">
                <label for="supplier_article_nn">Supplier article number/name:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control moveStuffToTheRight" name="article_number_name" @bind="Article.ArticleInformation.SupplierArticleName" disabled="@IsDisabled">
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@GTINNumber">
            <td colspan="2">
                <label for="GTIN">GTIN number:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control moveStuffToTheRight" name="GTIN" @bind="Article.ArticleInformation.Gtinnumber" disabled="@IsDisabled">
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@Shelflife">
            <td colspan="2">
                <label for="Shelflife">Shelflife:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control moveStuffToTheRight" name="Shelflife" @bind="Article.ArticleInformation.Shelflife" disabled="@IsDisabled">
            </td>
            <td>
                <label class="center-for-units" for="Shelflife">days</label>
            </td>
            <td colspan="2"></td>
        </tr>

        <tr class="@MinShelflife">
            <td colspan="2">
                <label for="Min_shelflife">Min. shelflife at HAVI:</label>
            </td>
            <td colspan="2">
                <input type="number" class="form-control moveStuffToTheRight" name="Min_shelflife" @bind="Article.ArticleInformation.MinimumShelflife" disabled="@IsDisabled">
            </td>
            <td colspan="2">
                <label class="center-for-units" for="Min_shelflife">days</label>
            </td>
        </tr>

        <tr class="@OrganicArticle">
            <td>
                <label for="organic_article" value="">Organic article?</label>
            </td>

            <td colspan="2">
                <div class="text-center">
                    <input type="radio" name="organic_article" value="yes" checked="@(Article.ArticleInformation.OrganicArticle == 1)" disabled="@IsDisabled" @onclick="() => Article.ArticleInformation.OrganicArticle = 1">
                    <label for="yes">Yes</label>
                    &nbsp;
                    <input type="radio" name="organic_article" value="no" checked="@(Article.ArticleInformation.OrganicArticle == 0)" disabled="@IsDisabled" @onclick="() => Article.ArticleInformation.OrganicArticle = 0">
                    <label for="no">No</label>
                </div>
            </td>
        </tr>
    </table>
</form>
</div>