@inherits MeasurementInformation
<div class="col-12 havi-info-box">
<div class="row justify-content-right">
    <div class="col-11">
        <h4> Measurements:</h4>
    </div>
    <div class="col-1">
        @if (EditingFields)
        {
            <div class="save-button" @onclick="Saving"></div>
        }
        else
        {
            <div class="edit-button" @onclick="Editing"></div>
        }

    </div>
</div>
    @if (Article != null)
    {
<table class="table table-borderless">
    <tr class="@Length">
        <td>
            <label for="length">Length per salesunit:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="Length" @bind="Article.ArticleInformation.LengthPrSalesunit" disabled>
        </td>
        <td>
            <label class="center-for-units" for="length">cm</label>
        </td>
    </tr>

    <tr class="@Width">
        <td>
            <label for="width">Width per salesunit:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="width" @bind="Article.ArticleInformation.WidthPrSalesunit" disabled>
        </td>
        <td>
            <label class="center-for-units" for="width">cm</label>
        </td>
    </tr>

    <tr class="@Height">
        <td>
            <label for="height">Height per salesunit:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="height" @bind="Article.ArticleInformation.HeightPrSalesunit" disabled>
        </td>
        <td>
            <label class="center-for-units" for="height">cm</label>
        </td>
    </tr>

    <tr class="@NetWeight">
        <td>
            <label for="net_weight">Net weight per salesunit:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="net_weight" @bind="Article.ArticleInformation.NetWeightPrSalesunit" disabled>
        </td>
        <td>
            <label class="center-for-units" for="net_weight">kg</label>
        </td>
    </tr>

    <tr class="@GrossWeight">
        <td>
            <label for="gross_weight">Gross weight per salesunit:</label>
        </td>
        <td>
            <input type="number" class="form-control" id="gross_weight" @bind="Article.ArticleInformation.GrossWeightPrSalesunit" disabled>
        </td>
        <td>
            <label class="center-for-units" for="gross_weight">kg</label>
        </td>
    </tr>
</table>}
</div>


@code {
    [Parameter]
    public string Length { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public string NetWeight { get; set; }

    [Parameter]
    public string GrossWeight { get; set; }
}