@inherits PriceInformation
<div class="col-12 havi-info-box">
    <div class="row justify-content-right">
        <div class="col-11">
            <h4> Price Information:</h4>
        </div>
        <div class="col-1 @EditFields">
            @if (EditingFields)
            {
                <div class="save-button" @onclick="Saving"></div>
            }
            else
            {
                <div class="edit-button" @onclick="Editing"></div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form>
                <table class="table table-borderless">
                    <tr class="@SetCurrency">
                        <td>
                            <label for="set_currency">Set currency:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="purchase_price" @bind="Article.ArticleInformation.SetCurrency" disabled>
                        </td>
                    </tr>

                    <tr class="@PurchasePrice">
                        <td>
                            <label for="purchase_price">Purchase price:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" id="purchase_price" @bind="Article.ArticleInformation.PurchasePrice" disabled="@IsDisabled">
                        </td>
                    </tr>

                    <tr class="@OtherCostArticle">
                        <td>
                            <label for="other_cost" value="">Other cost regarding the article?</label>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="radio" name="organic" value="yes" checked="@(Article.ArticleInformation.OtherCosts == 1)" disabled @onclick="() => Article.ArticleInformation.OtherCosts = 1" />
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" name="organic" value="no" checked="@(Article.ArticleInformation.OtherCosts == 0)" disabled @onclick="() => Article.ArticleInformation.OtherCosts = 1" />
                                <label for="no">No</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-6">
            <table>
                @if (Article.ArticleInformation.OtherCosts == 1)
                {
                    @for (int i = 0; i < NumberOfOtherCosts; i++)
                    {

                        <tr class="InformCostType">
                            <td>
                                <label for="afgift-@i">Inform cost type:</label>
                            </td>

                            <td>
                                <input type="text" class="form-control" @bind="Article.ArticleInformation.OtherCostsForArticles[i].InformCostType" name="afgift-@i" disabled/>
                            </td>
                            <td>
                                <label for="amount-@i">Amount in @Article.ArticleInformation.SetCurrency:</label>
                            </td>
                            <td>
                                <input type="number" class="form-control" @bind="Article.ArticleInformation.OtherCostsForArticles[i].Amount" name="amount-@i" disabled/>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string SetCurrency { get; set; }

    [Parameter]
    public string PurchasePrice { get; set; }

    [Parameter]
    public string OtherCostArticle { get; set; }

    [Parameter]
    public string InformCostType { get; set; }

    private string OtherCost = "yes";

    private string Currency = "DKK";
}