@inherits PriceInformation
<div class="col-12 havi-info-box">
    <div class="row justify-content-right">
        <div class="col-11">
            <h4> Price Information:</h4>
        </div>
        <div class="col-1 @EditFields">
            @if (EditingFields)
            {
                <div class="save-button" @onclick="Saving"></div>
            }
            else
            {
                <div class="edit-button" @onclick="Editing"></div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form>
                <table class="table table-borderless" width="100%">
                    <tr class="@SetCurrency">
                        <td>
                            <label for="set_currency">Set currency:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="currency" @bind="Article.ArticleInformation.SetCurrency" disabled>
                        </td>
                    </tr>

                    <tr class="@PurchasePrice">
                        <td>
                            <label for="purchase_price">Purchase price:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control moveStuffToTheRight" name="purchase_price" @bind="Article.ArticleInformation.PurchasePrice" disabled="@IsDisabled">
                        </td>
                    </tr>

                    <tr class="@OtherCostArticle">
                        <td>
                            <label for="other_cost" value="">Other cost regarding the article?</label>
                        </td>
                        <td>
                            <div class="text-center">
                                <input type="radio" name="organic" value="yes" checked="@(Article.ArticleInformation.OtherCosts == 1)" @onclick="() => Article.ArticleInformation.OtherCosts = 1" disabled="@IsDisabled"/>
                                <label for="yes">Yes</label>
                                &nbsp;
                                <input type="radio" name="organic" value="no" checked="@(Article.ArticleInformation.OtherCosts == 0)" @onclick="() => Article.ArticleInformation.OtherCosts = 1" disabled="@IsDisabled"/>
                                <label for="no">No</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-6">
            @if (Article.ArticleInformation.OtherCosts == 1)
            {
            <table>
                @if (0 < NumberOfOtherCosts)
                {
                    <tr>
                        <td>
                            <label for="">Inform cost type:</label>
                        </td>

                        <td>
                            <select class="form-control" name="" @bind="Article.ArticleInformation.OtherCostsForArticles[0].InformCostType" disabled="@IsDisabled">
                                <option>-- select an option --</option>
                                @foreach (InformCostType item in costType)
                                {
                                    <option>@item.CostType</option>
                                }
                            </select>
                        </td>
                        <td>
                            <label for="">Amount in @Article.ArticleInformation.SetCurrency:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="" @bind="@Article.ArticleInformation.OtherCostsForArticles[0].Amount" disabled="@IsDisabled">
                        </td>
                        @if (NumberOfOtherCosts == 1)
                        {
                            <td @onclick="AddExtraCosts"> &#10133; </td>
                        }
                    </tr>
                }

                @if (1 < NumberOfOtherCosts)
                {
                    <tr>
                        <td>
                            <label for="">Inform cost type:</label>
                        </td>

                        <td>
                            <select class="form-control" name="" @bind="Article.ArticleInformation.OtherCostsForArticles[1].InformCostType" disabled="@IsDisabled">
                                <option>-- select an option --</option>
                                @foreach (InformCostType item in costType)
                                {
                                    <option>@item.CostType</option>
                                }
                            </select>
                        </td>
                        <td>
                            <label for="">Amount in @Article.ArticleInformation.SetCurrency:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="" @bind="@Article.ArticleInformation.OtherCostsForArticles[1].Amount" disabled="@IsDisabled">
                        </td>
                        @if (NumberOfOtherCosts == 2)
                        {
                            <td @onclick="AddExtraCosts"> &#10133; </td>
                            <td @onclick="RemoveExtraCosts"> &#10134;</td>
                        }
                    </tr>
                }

                @if (2 < NumberOfOtherCosts)
                {
                    <tr>
                        <td>
                            <label for="">Inform cost type:</label>
                        </td>

                        <td>
                            <select class="form-control" name="" @bind="Article.ArticleInformation.OtherCostsForArticles[2].InformCostType" disabled="@IsDisabled">
                                <option>-- select an option --</option>
                                @foreach (InformCostType item in costType)
                                {
                                    <option>@item.CostType</option>
                                }
                            </select>
                        </td>
                        <td>
                            <label for="">Amount in @Article.ArticleInformation.SetCurrency:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="" @bind="@Article.ArticleInformation.OtherCostsForArticles[2].Amount" disabled="@IsDisabled">
                        </td>
                        @if (NumberOfOtherCosts == 3)
                        {
                            <td @onclick="AddExtraCosts"> &#10133; </td>
                            <td @onclick="RemoveExtraCosts"> &#10134;</td>
                        }
                    </tr>
                }

                @if (3 < NumberOfOtherCosts)
                {
                    <tr>
                        <td>
                            <label for="">Inform cost type:</label>
                        </td>

                        <td>
                            <select class="form-control" name="" @bind="Article.ArticleInformation.OtherCostsForArticles[3].InformCostType" disabled="@IsDisabled">
                                <option>-- select an option --</option>
                                @foreach (InformCostType item in costType)
                                {
                                    <option>@item.CostType</option>
                                }
                            </select>
                        </td>
                        <td>
                            <label for="">Amount in @Article.ArticleInformation.SetCurrency:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="" @bind="@Article.ArticleInformation.OtherCostsForArticles[3].Amount" disabled="@IsDisabled">
                        </td>
                        @if (NumberOfOtherCosts == 4)
                        {
                            <td @onclick="AddExtraCosts"> &#10133; </td>
                            <td @onclick="RemoveExtraCosts"> &#10134;</td>
                        }
                    </tr>
                }

                @if (4 < NumberOfOtherCosts)
                {
                    <tr>
                        <td>
                            <label for="">Inform cost type:</label>
                        </td>

                        <td>
                            <select class="form-control" name="" @bind="Article.ArticleInformation.OtherCostsForArticles[4].InformCostType" disabled="@IsDisabled">
                                <option>-- select an option --</option>
                                @foreach (InformCostType item in costType)
                                {
                                    <option>@item.CostType</option>
                                }
                            </select>
                        </td>
                        <td>
                            <label for="">Amount in @Article.ArticleInformation.SetCurrency:</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="" @bind="@Article.ArticleInformation.OtherCostsForArticles[4].Amount" disabled="@IsDisabled">
                        </td>
                        @if (NumberOfOtherCosts == 5)
                        {
                            <td @onclick="AddExtraCosts"> &#10133; </td>
                            <td @onclick="RemoveExtraCosts"> &#10134;</td>
                        }
                    </tr>
                }

            </table>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string SetCurrency { get; set; }

    [Parameter]
    public string PurchasePrice { get; set; }

    [Parameter]
    public string OtherCostArticle { get; set; }

    [Parameter]
    public string InformCostType { get; set; }

    private string OtherCost = "yes";

    private string Currency = "DKK";
}