@inherits ShipmentInformation
<div class="col-12 havi-info-box">
    <div class="row justify-content-right">
        <div class="col-11">
            <h4> Shipment Information:</h4>
        </div>
        <div class="col-1 @EditFields">
            @if (EditingFields)
            {
                <div class="save-button" @onclick="Saving"></div>
            }
            else
            {
                <div class="edit-button" @onclick="Editing"></div>
            }

        </div>
    </div>  
    <form>
        <table class="table table-borderless">
            <colgroup>
                <col span="2" style="width: 30%" />
                <col span="2" style="width: 65%"/>
                <col span="2" style="width: 5%"/>
            </colgroup>
            <colgroup>
                <col span="1" style="width: 20%" />
                <col span="1" style="width: 25%"/>
                <col span="1" style="width: 5%" />
                <col span="1" style="width: 20%" />
                <col span="1" style="width: 25%" />
                <col span="1" style="width: 5%" />
            </colgroup>
            <colgroup>
                <col span="6" style="width: 100%" />
            </colgroup>
            <tr class="@CartonsPerPallet">
                <td colspan="2">
                    <label for="carton_pr_pallet">Cartons per pallet:</label>
                </td>
                <td colspan="2">
                    <input type="number" class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.CartonsPerPallet" disabled="@IsDisabled">
                </td>
                <td colspan="2"></td>
            </tr>

            <tr class="@CartonsPerLayer">
                <td colspan="2">
                    <label for="carton_pr_layer">Cartons per layer:</label>
                </td>
                <td colspan="2">
                    <input type="number" class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.CartonsPerLayer" disabled="@IsDisabled">
                </td>
                <td colspan="2"></td>
            </tr>


            <tr class="@CountryOfOrigin">
                <td colspan="2">
                    <label for="country_origin">Country of origin:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control" @bind="Article.ArticleInformation.CountryOfOrigin" disabled>
                </td>
                <td colspan="2"></td>
            </tr>

            <tr class="@ImportedFrom">
                <td colspan="2">
                    <label for="imported_from">Imported from:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control" @bind="Article.ArticleInformation.ImportedFrom" disabled>
                </td>
                <td colspan="2"></td>
            </tr>

            <tr class="@TollTarif">
                <td colspan="2">
                    <label for="toll_tarrif_no">Toll-tarrif no:</label>
                </td>
                <td colspan="2">
                    <input type="text" class="form-control moveStuffToTheRight" id="toll_tarrif_no" @bind="Article.ArticleInformation.TollTarifNumber" disabled="@IsDisabled">
                </td>
                <td colspan="2"></td>
            </tr>

            <tr class="@MinOrderQuantity">
                <td colspan="2">
                    <label for="minimum_order_quantity">Minimum order quantity:</label>
                </td>
                <td colspan="2">
                    <input type="number" class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.MinimumOrderQuantity" disabled="@IsDisabled">
                </td>
                <td colspan="2"></td>
            </tr>

            <tr class="@TemperatureTransportation">
                <td colspan="6">
                    <label for="temprature_during_transportation">Temperature during transportation:</label>
                </td>
            </tr>
            <tr class="@TemperatureTransportation">
                <td colspan="1">
                    <label class="center-for-units" for="min">Min:</label>
                </td>
                <td colspan="1">
                    <input type="number" step="any"  class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.TemperatureTransportationMin" disabled="@IsDisabled">
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="degrees">&#8451;</label>
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="max">Max:</label>
                </td>
                <td colspan="1">
                    <input type="number" step="any"  class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.TemperatureTransportationMax" disabled="@IsDisabled">
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="degrees">&#8451;</label>
                </td>
            </tr>

            <tr class="@TemperatureStorage">
                <td colspan="6">
                    <label for="temprature_storage">Storage temperature requirements:</label>
                </td>
            </tr>
            <tr class="@TemperatureStorage">
                <td colspan="1">
                    <label class="center-for-units" for="min">Min:</label>
                </td>
                <td colspan="1">
                    <input type="number" step="any"  class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.TemperatureStorageMin" disabled="@IsDisabled">
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="degrees">&#8451;</label>
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="max">Max:</label>
                </td>
                <td colspan="1">
                    <input type="number" step="any"  class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.TemperatureStorageMax" disabled="@IsDisabled">
                </td>
                <td colspan="1">
                    <label class="center-for-units" for="degrees">&#8451;</label>
                </td>
            </tr>

            <tr class="@LeadTime">
                <td colspan="2">
                    <label for="lead_time">Lead time:</label>
                </td>
                <td colspan="2">
                    <input type="number" class="form-control moveStuffToTheRight" @bind="Article.ArticleInformation.LeadTime" disabled="@IsDisabled">
                </td>
                <td colspan="2">
                    <div class="text-right">
                        <label class="center-for-units" for="lead_time">days</label>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>