@layout HAVI_app.Shared.Supplier_layout.Overview_layout
@inherits OverviewSupplier
@page "/overview_supplier/{Id:int}"

<header>
    <div class="row heading-overview">
        <HAVI_app.Shared.Shared_layout.Logo_image />
        <div class="col-4"></div>
        <HAVI_app.Shared.Shared_layout.Profile_menu Username="@Profile.Username" OnProfileClickCallback="@NavigateToProfilePage" />
    </div>
</header>
<div class="col-12">
    <div class="row" id="overview-supplier-header">
        <div class="col-5">
            <h2>Welcome @Supplier.CompanyName</h2>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-right">
            <button class="btn dark-green-button" data-toggle="modal" data-target="#addArticle">
                Add article
                <span class="plus-sign-for-button">&#10010</span>
            </button>
        </div>
    </div>
</div>

<HAVI_app.Shared.Supplier_layout.Overview_table_supplier Id="Id"/>

<div class="modal fade" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="addArticle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-addArticle">
            <div class="">
                <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Add article</h4>
                <form>
                    <div class="form-group">
                        <label for="country">Pick country of Havi devision:</label>
                        <select @onchange="@(async (ChangeEventArgs __e) => { CountryName = __e.Value.ToString(); await UpdateFields(); })" class="form-control" name="country">
                            <option disabled selected>-- select one --</option>
                            @foreach (Country country in Countries)
                            {
                                <option>@country.CountryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectCustomer">Valid For Customer</label>
                        <select @bind="ValidForCustomer" class="form-control" id="selectCustomer">
                            <option disabled selected>-- select one --</option>
                            @foreach (VailedForCustomer customer in Customers)
                            {
                                <option>@customer.Customer</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="haviRecipent">HAVI recipient</label>
                        <select @bind="PurchaserUsername" class="form-control" id="haviRecipent">
                            <option disabled selected>-- select one --</option>
                            @foreach (Purchaser purchaser in Purchasers)
                            {
                                <option>@purchaser.Profile.Username</option>
                            }
                        </select>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="save-password btn button-size" data-dismiss="modal" @onclick="NewArticleAdded">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<havi_app.Shared.Shared_layout.Footer />