@inject NavigationManager NavigationManager
@inherits ProfileSupplier
@page "/profile_supplier/{SupplierId:int}"

@layout HAVI_app.Shared.Supplier_layout.Profile_layout

@if(Supplier == null || Supplier.Profile == null){
<div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
}else{
<div class="row align-content-center">
    <div class="col-1"></div>
    <div class="col-10 white-box header">
        <div class="row">
            <HAVI_app.Shared.Shared_layout.Logo_image />
        </div>
        <div class="row heading-profile">
            <div class="col-12">
                <h4>Profile</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <form>
                    <table class="table table-font">
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                            </td>
                            <td>
                                <input type="email" class="form-control" name="email" @bind="@Supplier.Profile.Username" required>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="password">Password:</label>
                            </td>
                            <td class="text-right">
                                <a href="#" data-toggle="modal" data-target="#changePassword">Change password</a>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="company_name">Company Name:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="company_name" @bind="@Supplier.CompanyName" required>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="company_location" >Company's Location:</label>
                            </td>
                            <td>
                                <select class="form-control" name="company_location" @bind="@Supplier.CompanyLocation" required>
                                    @foreach (var item in Countries)
                                    {
                                        <option>@item.Country</option>
                                    }
                                </select>                            
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="pallet_exchange" >Pallet exchange</label>
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            @if(Supplier.PalletExchange == 1){
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="1" @onclick="() => Supplier.PalletExchange = 1" checked required>
                                                <label for="yes">Yes</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="0" @onclick="() => Supplier.PalletExchange = 0" required>
                                                <label for="no">No</label>
                                            </div>
                                            }else{
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="1" @onclick="() => Supplier.PalletExchange = 1" required>
                                                <label for="yes">Yes</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="radio" name="pallet_exchange" value="0" @onclick="() => Supplier.PalletExchange = 0" checked required>
                                                <label for="no">No</label>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <HAVI_app.Shared.Shared_layout.Questionmark_right>
                                    Whether you would like to exchange pallets with HAVI upon delivering the article
                                </HAVI_app.Shared.Shared_layout.Questionmark_right>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="freight_responsibility" >Freight Responsibility</label>
                            </td>
                            <td>
                                <div class="row justify-content-center">
                                    <select class="form-control" name="salesunit" @bind="@Supplier.FreightResponsibility" required>
                                        @foreach(FreightResponsibility item in Freights)
                                        {
                                            <option>@item.Responsibility</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <HAVI_app.Shared.Shared_layout.Questionmark_right>
                                    With CIP you pay for the freight and insurance during transit. With EXW you are only required to ready the article for pick up
                                </HAVI_app.Shared.Shared_layout.Questionmark_right>
                            </td>
                        </tr>
                    </table>
                    <div class="row justify-content-center">
                        @_saveMessage
                    </div>
                    <div class="row">
                        <div class="text-right col-6">
                            <input type="button" class="btn cancel-button button-size" value="Back" @onclick="BackToSupplierOverview">
                        </div>
                        <div class="text-left col-6">
                            <input type="button" class="btn green-button button-size" value="Save" @onclick="SaveProfile">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Form for changing your password. Only appears when link is toggeled -->
<div class=" modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="close close-password" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table-font table col-12">
                        <tr>
                            <td class="">
                                <label for="current-password">Input current Password:</label>
                            </td>
                            <td class="">
                                <input type="password" class="form-control" name="current-password" @bind="CurPassword" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="new-password">Input new Password:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="new-password" @bind="NewPassword1" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="confirm-new-password">Confirm new password:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="confirm-new-password" @bind="NewPassword2" required>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="row justify-content-center">
                    <button type="button" class="save-password btn button-size" data-dismiss="modal" @onclick="SavePassword">Save</button>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        @PasswordError
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}