@layout HAVI_app.Shared.Admin_layout.Overview
@page "/overview_admin/{Id:int}"
@inherits OverviewAdmin


<div class="row">
    <HAVI_app.Shared.Shared_layout.Logo_image />
    <div class="col-1"></div>
    <div class="col-8">
        <NavLink class="nav-link button-overview-logout" href="/">
            Logout
        </NavLink>
        <NavLink class="nav-link button-overview" href="@profile">
            Profile
        </NavLink>
        <NavLink class="nav-link button-overview" href="@country">
            Country
        </NavLink>
        <NavLink class="nav-link button-overview" href="@user">
            Users
        </NavLink>
        <NavLink class="nav-link button-overview" href="@article">
            Article info
        </NavLink>
        <NavLink class="nav-link button-overview" href="@overview">
            Home
        </NavLink>
    </div>
</div>
<div class="gap-overview">
</div>

<div class="row">
    <div class="col-12">
        <HAVI_app.Shared.Admin_layout.Overview_table_admin />
    </div>
</div>

