@inject HAVI_app.Services.Classes.SupplierDeliveryUnitService SupplierDeliveryUnitService
@inject HAVI_app.Services.Classes.ILOSOrderpickgroupService ILOSOrderpickgroupService
@inject HAVI_app.Services.Classes.ILOSSortGroupService ILOSSortGroupService
@inject HAVI_app.Services.Classes.ILOSCategoriesService ILOSCategoriesService
@inject HAVI_app.Services.Classes.VatTaxCodeService VatTaxCodeService
@inject HAVI_app.Services.Classes.DepartmentIdService DepartmentIdService
@inject HAVI_app.Services.Classes.PackagingGroupService PackagingGroupService
@inject HAVI_app.Services.Classes.CompanyCodeService CompanyCodeService
@inject HAVI_app.Services.Classes.ArticleService ArticleService
@inject HAVI_app.Services.Classes.InternalArticleInformationService InternalArticleInformationService 

<div class="col-11">
    <h4>HAVI Internal info:</h4>
</div>
<div class="col-1 @EditPossible">
    @if (EditingFields)
    {
        <div class="save-button" @onclick="Saving"></div>
    }
    else
    {
        <div class="edit-button" @onclick="Editing"></div>
    }

</div>
<br />
<form>
<table>
    <tr>
        <td class="required">Company code:</td>
        <td>
            <select class="form-control" name="Companycode" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.CompanyCode = Int32.Parse(__e.Value.ToString()))" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (CompanyCode item in CompanyCodes)
                {
                    <option>@item.Code</option>
                }
            </select>
        </td>
        <td>
            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                The company's country code
            </HAVI_app.Shared.Shared_layout.Questionmark_top>
        </td>
    </tr>
    <tr>
        <td class="required">Supplier ID(ILOS):</td>
        <td colspan="2"> <input type="number" class="form-control" name="shelf_store_value" @bind="Article.InternalArticleInformation.SupplierIdIlos" disabled="@IsDisabled"> </td>
    </tr>
    <tr>
        <td class="required">Supplier delivery unit:</td>
        <td colspan="2">
            <select class="form-control" name="deliveryunit" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.SupplierDeliveryUnit = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (SupplierDeliveryUnit item in DeliveryUnits)
                {
                    <option>@item.Unit</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">Remain shelf store value:</td>
        <td> <input type="number" class="form-control" id="Remain shelf store value" @bind="Article.InternalArticleInformation.RemainShelfStore" disabled="@IsDisabled"> </td>
        <td>days</td>
    </tr>
    <tr>
        <td class="required">ILOS orderpickgroup:</td>
        <td colspan="2">
            <select class="form-control" name="ordergroup" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.IlosorderPickGroup = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (Ilosorderpickgroup item in OrderpickGroups)
                {
                    <option>@item.Orderpickgroup</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">ILOS temp groups:</td>
        <td colspan="2">
            <select class="form-control" name="tempgroup" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.IlossortGroup = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (IlossortGroup item in SortGroups)
                {
                    <option>@item.SortGroup</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">New ILOS article number:</td>
        <td> <input type="text" class="form-control" name="new_ilos_number" @bind="Article.InternalArticleInformation.NewIlosarticleNumber" disabled="@IsDisabled"> </td>
        <td>
            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                Number which shall be created
            </HAVI_app.Shared.Shared_layout.Questionmark_top>
        </td>
    </tr>
    <tr>
        <td class="required">Reference ILOS number:</td>
        <td> <input type="text" class="form-control" name="reference_ilos_number" @bind="Article.InternalArticleInformation.ReferenceIlosnumber" disabled="@IsDisabled"> </td>
        <td>
            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                Number which shall be copied from
            </HAVI_app.Shared.Shared_layout.Questionmark_top>
        </td>
    </tr>
    <tr>
        <td class="required">Reference SAP from material no:</td>
        <td> <input type="text" class="form-control" name="reference_sap_number" @bind="Article.InternalArticleInformation.ReferenceSapmaterial" disabled="@IsDisabled"> </td>
        <td>
            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                Number which shall be copied from
            </HAVI_app.Shared.Shared_layout.Questionmark_top>
        </td>
    </tr>
    <tr>
        <td class="required">ILOS category/account:</td>
        <td>
            <select class="form-control" name="category" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.Iloscategory = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (Iloscategory item in Categories)
                {
                    <option>@item.Category</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">VAT/TAX code:</td>
        <td>
            <select class="form-control" name="tax" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.VatTaxcode = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (VatTaxCode item in Codes)
                {
                    <option>@item.Code</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">Department ID:</td>
        <td>
            <select class="form-control" name="department" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.DepartmentId = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (DepartmentId item in Ids)
                {
                    <option>@item.Department</option>
                }
            </select>
        </td>
    </tr>
    <tr class="border-bottom">
        <td>Innerpacking ID:</td>
        <td>
            <input type="checkbox" name="innerpacking" checked disabled /><label for="innerpacking">1/10</label>
        </td>
    </tr>

    <tr>
        <td class="required">Text purchase number:</td>
        <td>
            <input type="number" class="form-control" name="purchase_number" @bind="Article.InternalArticleInformation.TextPurchaseNumber" disabled="@IsDisabled">
        </td>
    </tr>
    <tr class="border-bottom">
        <td class="required">Register shelflife:</td>
        <td>
            <div class="text-center">
                <input type="radio" name="shelflife" id="yes" value="yes" @onclick="() => Article.InternalArticleInformation.RegisterShelfLife = 1" disabled="@IsDisabled">
                <label for="yes">Yes</label>
                &nbsp;
                <input type="radio" id="no" name="shelflife" @onclick="() => Article.InternalArticleInformation.RegisterShelfLife = 0" disabled="@IsDisabled">
                <label for="no">No</label>
            </div>
        </td>
    </tr>
    <tr>
        <td>Classification code:</td>
        <td> <input type="text" class="form-control" name="classification_code" @bind="Article.InternalArticleInformation.ClassificationCode" disabled="@IsDisabled"> </td>
    </tr>
    <tr class="border-bottom">
        <td>Packaging group:</td>
        <td>
            <select class="form-control" name="packaginggroup" @onchange="@((ChangeEventArgs __e) => Article.InternalArticleInformation.PackagingGroup = __e.Value.ToString())" disabled="@IsDisabled">
                <option disabled selected>-- select an option --</option>
                @foreach (PackagingGroup item in PackagingGroups)
                {
                    <option>@item.Group</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td class="required">Currency rate:</td>
        <td> <input type="text" class="form-control" name="currency_rate" @bind="CurrencyRate" disabled="@IsDisabled" /></td>
        <td>
            <HAVI_app.Shared.Shared_layout.Questionmark_top>
                Please enter the amount in triple-digit
            </HAVI_app.Shared.Shared_layout.Questionmark_top>
        </td>
    </tr>
    <tr>
        <td class="required">Price:</td>
        <td> <input type="text" class="form-control" name="currency_in_country" value="@Article.InternalArticleInformation.PriceInCountryCurrency" disabled /></td>
        <td>
            <input type="button" class="btn green-button" @onclick="CalculatePrice" value="Calculate" />
        </td>
        
    </tr>
    <tr>
        <td>Transit time in days:</td>
        <td> <input type="text" class="form-control" name="transit_time" @bind="Article.InternalArticleInformation.TransitTimeForHavi" disabled="@IsDisabled"/></td>
    </tr>
</table>
</form>

@code {
    [Parameter]
    public Article Article { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public string EditPossible { get; set; }

    public List<CompanyCode> CompanyCodes = new List<CompanyCode>();
    public List<SupplierDeliveryUnit> DeliveryUnits = new List<SupplierDeliveryUnit>();
    public List<Ilosorderpickgroup> OrderpickGroups = new List<Ilosorderpickgroup>();
    public List<IlossortGroup> SortGroups = new List<IlossortGroup>();
    public List<Iloscategory> Categories = new List<Iloscategory>();
    public List<VatTaxCode> Codes = new List<VatTaxCode>();
    public List<DepartmentId> Ids = new List<DepartmentId>();
    public List<PackagingGroup> PackagingGroups = new List<PackagingGroup>();

    public double CurrencyRate = 0.0;

    public void CalculatePrice()
    {
        double rate = CurrencyRate / 100.0;
        Article.InternalArticleInformation.PriceInCountryCurrency = rate * Article.ArticleInformation.PurchasePrice;
    }

    protected override async Task OnInitializedAsync()
    {
        CompanyCodes = await CompanyCodeService.GetCompanyCodes(Article.CountryId);
        DeliveryUnits = await SupplierDeliveryUnitService.GetSupplierDeliveryUnits(Article.CountryId);
        OrderpickGroups = await ILOSOrderpickgroupService.GetILOSOrderpickgroup(Article.CountryId);
        SortGroups = await ILOSSortGroupService.GetILOSSortgroups();
        Categories = await ILOSCategoriesService.GetILOSCategories(Article.CountryId);
        Codes = await VatTaxCodeService.GetVatTaxCodes(Article.CountryId);
        Ids = await DepartmentIdService.GetDepartmentIds();
        PackagingGroups = await PackagingGroupService.GetPackagingGroups();
    }

    public bool EditingFields = false;

    public void Editing()
    {
        EditingFields = true;
        IsDisabled = false;
    }

    public async void Saving()
    {
        await InternalArticleInformationService.UpdateInternalArticleInformation(Article.InternalArticleInformationId, Article.InternalArticleInformation);
        EditingFields = false;
        IsDisabled = true;
    }
}